In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sn
from sklearn.metrics import confusion_matrix
import matplotlib.mlab as mlab
%matplotlib inline

In [5]:
heart_df=pd.read_csv("heart.csv")
heart_df.drop(['education'],axis=1,inplace=True)
heart_df.head()
heart_df.dropna(inplace=True)

In [6]:
import sklearn
new_features=heart_df[['age','cigsPerDay','totChol','sysBP','glucose','TenYearCHD']]
x=new_features.iloc[:,:-1]
y=new_features.iloc[:,-1]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20,random_state=5)

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
logreg=LogisticRegression()
logreg2=RandomForestClassifier()
logreg2.fit(x_train,y_train)
y_pred=logreg2.predict(x_test)

In [8]:
sklearn.metrics.accuracy_score(y_test,y_pred)

0.8681757656458056

In [9]:
import pickle
filename = 'finalized_model.pkl'
pickle.dump(logreg2, open(filename, 'wb'))

In [10]:
loaded_model = pickle.load(open(filename, 'rb'))

In [11]:
loaded_model.predict([x_test.iloc[5,:]])

array([1], dtype=int64)

In [12]:
new_features.describe()

,age,cigsPerDay,totChol,sysBP,glucose,TenYearCHD
count,3751.000000,3751.000000,3751.000000,3751.000000,3751.000000,3751.000000
mean,49.573447,9.008531,236.928019,132.368435,81.880032,0.152493
std,8.570204,11.925097,44.611594,22.046522,23.882233,0.359546
min,32.000000,0.000000,113.000000,83.500000,40.000000,0.000000
25%,42.000000,0.000000,206.000000,117.000000,71.000000,0.000000
50%,49.000000,0.000000,234.000000,128.000000,78.000000,0.000000
75%,56.000000,20.000000,264.000000,144.000000,87.000000,0.000000
max,70.000000,70.000000,696.000000,295.000000,394.000000,1.000000

In [19]:
new_features.sample(20)

      age  cigsPerDay  totChol  sysBP  glucose  TenYearCHD
1003   64         0.0    263.0  206.0     91.0           0
3664   48         0.0    273.0  140.0     78.0           0
2117   56        17.0    177.0  127.0     88.0           0
75     59         0.0    258.0  138.5    103.0           1
3206   37         0.0    253.0  122.0     93.0           0
2779   43         0.0    210.0  181.0     55.0           0
3222   44         0.0    200.0  128.0     73.0           0
1727   55         0.0    281.0  153.0     78.0           0
3411   63         9.0    188.0  113.0     93.0           0
3572   61         0.0    310.0  108.0     65.0           0
4197   63         0.0    257.0  170.0     87.0           0
3569   46        25.0    165.0   99.5     66.0           0
3969   54        17.0    205.0   96.0     75.0           0
2539   55         0.0    215.0  122.0     87.0           0
2207   35         0.0    197.0  109.0     95.0           0
3257   64         6.0    239.0  143.0     73.0           0
3136   60        15.0    254.0  177.0     79.0           1
2948   54         0.0    217.0  116.0     77.0           0
2598   54         2.0    213.0  144.0     72.0           0
1423   55         0.0    243.0  142.0     85.0           0

In [20]:
new_features.glucose.max()

394.0